*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color:rgb(76, 179, 255)
}

.outdoor{
  display: flex;
  justify-content: center;
}
.container_menu{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns:2fr 2fr 2fr 2fr;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.botoes_Do_Menu{
background-color: rgb(255, 255, 255);
border: rgb(24, 20, 20);
box-shadow: 3px 3px 3px rgb(94, 91, 91);
color: rgb(8, 64, 150);
font-size: 20pt;
text-shadow: 2px 2px 2px rgb(136, 137, 138);
}
.botoes_Do_Menu:hover{
  color: rgb(25, 198, 241);
  font-size: x-large;
}
.botoes_Do_Menu:active{
  background-color:rgb(76, 179, 255);
  border: double ;
  color: aliceblue;
}
.PaginaInicial{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-img{
  display: flex;
  
}
.icon{
  width: 100px;
  border-radius: 50%;
}
.container-flex{
  
  border: black double;
}